<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/startseite.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="icon" href="/img/logo_50x50.png" type="image/png">
    <title>Erstifahrt - FT</title>
</head>

<body>
    <header>
        <div class="title">Häuserspiel - Punktestand</div>
        <div class="header">
            <div class="left-section">

                <div class="logo-container-left">
                    <img src="/img/ravenclaw.png" alt="hufflepuff-logo">
                </div>
                <div class="text-container-left">
                    <h1>
                        <%= scoreRavenclaw %>
                    </h1>


                </div>
            </div>
            <div class="right-section">
                <div class="text-container-right">
                    <h1>
                        <%=scoreHufflepuff %>
                    </h1>
                </div>
                <div class="logo-container-right">
                    <img src="/img/hufflepuff.png" alt="ravenclaw-logo">
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="content" style="margin-top: 10px; ">

            <div class="schedule">
                <h2>Freitag</h2>
                <table>
                    <tbody>
                <% eventsByDay.Freitag.sort((a, b)=> (a.time || '').localeCompare(b.time || '')).forEach(event => { %>
                    
                            <tr>
                                <td>
                                    <%= event.time %>
                                        <% if (typeof event.oldTime !=='undefined' && event.oldTime !==null && event.oldTime !='') { %>
                                            <br>
                                            <span style="color: #880000; text-decoration: line-through;">
                                                <%= event.oldTime %>
                                            </span>
                                            <% } %>
                                </td>
                                <td>
                                    <%= event.description %>
                                        <% if (typeof event.descriptionHighlight !=='undefined' &&
                                            event.descriptionHighlight !==null  && event.descriptionHighlight !='') { %>
                                            <br>
                                            <mark>
                                                <%= event.descriptionHighlight %>
                                            </mark>
                                            <% } %>
                                                <% if (typeof event.link !=='undefined' && typeof event.linkText
                                                    !=='undefined' && event.link !==null && event.linkText !==null  && event.link !=''  && event.linkText !='') { %>
                                                    <br>
                                                    <a href=<%=event.link%>><%= event.linkText%></a>
                                                    <% } %>
                                </td>

                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <h2>Samstag</h2>
                    <table>
                        <tbody>
                            <% eventsByDay.Samstag.sort((a, b)=> (a.time || '').localeCompare(b.time ||
                                '')).forEach(event => { %>

                                <tr>
                                    <td>
                                        <%= event.time %>
                                            <% if (typeof event.oldTime !=='undefined' && event.oldTime !==null && event.oldTime !='') { %>
                                                <br>
                                                <span style="color: #880000; text-decoration: line-through;">
                                                    <%= event.oldTime %>
                                                </span>
                                                <% } %>
                                    </td>
                                    <td>
                                        <%= event.description %>
                                            <% if (typeof event.descriptionHighlight !=='undefined' && event.descriptionHighlight !==null && event.descriptionHighlight != '') { %>
                                                <br>
                                                <mark>
                                                    <%= event.descriptionHighlight %>
                                                </mark>
                                                <% } %>
                                                    <% if (typeof event.link !=='undefined' && typeof event.linkText !=='undefined' && event.link !==null && event.linkText !==null && event.link !='' && event.linkText != '')
                                                        { %>
                                                        <br>
                                                        <a href=<%=event.link%>><%= event.linkText%></a>
                                                        <% } %>
                                    </td>

                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <table>
                        <tbody>
                            <h2>Sonntag</h2>
                            <% eventsByDay.Sonntag.sort((a, b)=> (a.time || '').localeCompare(b.time ||
                                '')).forEach(event => { %>

                                <tr>
                                    <td>
                                        <%= event.time %>
                                            <% if (typeof event.oldTime !=='undefined' && event.oldTime !==null && event.oldTime !='') { %>
                                                <br>
                                                <span style="color: #880000; text-decoration: line-through;">
                                                    <%= event.oldTime %>
                                                </span>
                                                <% } %>
                                    </td>
                                    <td>
                                        <%= event.description %>
                                            <% if (typeof event.descriptionHighlight !=='undefined' &&
                                                event.descriptionHighlight !==null && event.descriptionHighlight !='') { %>
                                                <br>
                                                <mark>
                                                    <%= event.descriptionHighlight %>
                                                </mark>
                                                <% } %>
                                                    <% if (typeof event.link !=='undefined' && typeof event.linkText
                                                        !=='undefined' && event.link !==null && event.linkText !==null  && event.link !=''  && event.linkText !='')
                                                        { %>
                                                        <br>
                                                        <a href=<%=event.link%>><%= event.linkText%></a>
                                                        <% } %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>

                    </table>
            </div>
        </div>
    </main>
    <footer>
        <a href="/teamer/login">Teamer:innen-Bereich</a>
        <a href="/teamer/events">Events</a>
    </footer>
</body>

</html>